In [5]:
import numpy as np

In [6]:
import pandas as pd

In [8]:
from sklearn import datasets

In [13]:
X,y = datasets.make_classification(n_samples=10**3, n_features = 10, random_state=86634)

In [15]:
print(X)

[[-0.82282306  1.00091138 -0.65989673 ...  0.40535505  2.16444655
   0.11673944]
 [-0.62121895  0.89528212  0.1634566  ... -0.20812605  0.9417663
  -0.81332825]
 [-0.86524947  1.06834884 -0.06104524 ...  0.36796177  2.19755237
   0.88504027]
 ...
 [-1.0443836   1.43480852  0.78219555 ... -0.09089724  1.93204664
  -0.54166623]
 [-0.21418703  0.10346535 -0.61115521 ...  0.68402053  1.34241908
   1.61895437]
 [-0.3001917   0.15792788 -0.29036592 ...  0.91111032  1.81739514
   0.15895143]]

In [19]:
print(X[5,1])

-3.854444689847697

In [20]:
with open ("zad2.txt.", "w")as text_file: text_file.write(str(X[5,1]))

In [25]:
X=pd.DataFrame(X)

In [28]:
X.head(6)

,0,1,2,3,4,5,6,7,8,9
0,-0.822823,1.000911,-0.659897,0.491513,1.240461,0.918639,-0.440801,0.405355,2.164447,0.116739
1,-0.621219,0.895282,0.163457,-0.968632,2.581007,-0.025105,-0.830201,-0.208126,0.941766,-0.813328
2,-0.865249,1.068349,-0.061045,-0.660137,-0.497067,1.168478,0.713050,0.367962,2.197552,0.885040
3,-0.797947,1.407255,-0.032060,-0.372006,-0.177935,1.302167,-1.071026,-1.214859,-0.066226,-0.196270
4,1.037427,-1.788294,-1.725308,1.468148,1.207545,0.746479,-1.280581,1.427329,-0.118760,-0.090806
5,2.023929,-3.854445,0.094772,-0.126052,0.133334,0.044021,0.915747,4.131204,1.581621,1.345808